
.outer{
    margin-left: 25px;
    padding: 20px
}

.title{
    color: #154734;
}
.info_div{
    border: 2px solid transparent;
    border-top: solid #154734;
    gap:50px;
    display: flex;
    
}

.info_div > *{
    flex:1 1 0;
}

.side_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
}

.side_div div{
    border: 2px solid #154734;
    padding: 15px 15px;
}
.logi_header{
    color:#154734;
    margin-top: 0px;
    margin-bottom: 4px;
}
.logi_info{
    font-size: 18px;
    color:rgb(41, 35, 35);
    line-height: 1.5;
    margin-top:8px;
}

.pantry_about{
    font-size: 17px;
    line-height: 1.5;
}
.disclaimer{
    font-size: 12px;
    color:rgb(98, 94, 94)
}


