.mainCard {
  background-color: #f8e08e;
  padding: 30px;
  margin-left: 50px;
  width: 50rem;
  border-radius: 10px;
}

.mainCard h1 {
  margin: 0px;
  color: #154734;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 50px;
}

.quickInfo {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
