.nav {
  background-color: #154734;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0.5rem;
  margin: 0;
}

nav a.siteTitle {
  font-size: 2rem;
  color: #eeb948;
  font-weight: bold;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 0 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0rem;
}

.nav li:active {
  color: #eeb948;
}

.nav li:hover {
  color: #eeb948;
}
